# Laravel predeterminado
.log
.DS_Store
.env
.env.backup
.env.production
/.vscode
/node_modules
/public/storage
/vendor

# Exclusiones específicas para tu estructura anidada
back-avanzado/vendor/
back-avanzado/.env
back-avanzado/public/storage/
back-avanzado/.scribe/
